{% extends "base.html" %}
{% block content %}
<div class="jumbotron">
  <h1>Want to give a review for an item and help customers decide?</h1>
  <p>feel free to add a review:</p>
  <form method="POST">
      {# This hidden_tag is a CSRF security feature. #}
      {{ form.hidden_tag() }}
      <br>
      <br>
      {{ form.name.label }}
      {{form.name(placeholder="name") }}
      <br>
      <br>
      {{ form.item.label }}
      {{form.item(placeholder="item") }}
      <br>
      <br>
      {{ form.review.label }}
      {{ form.review (placeholder="review" ) }}
      <br>
      <br>
      {{ form.submit(class="btn btn-outline-secondary") }}
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>

  </form>

</div>
{% endblock %}
